
/* CSS Reset */
html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
h1, h2, h3, h4, h5, h6{
	margin:0;
	padding:0;
	border:0;
  vertical-align:baseline;
}
// HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display:block;
}
body {
  /// 기본 폰트 스타일 지정
  font:14px/1 HelveticaNeue, Helvetica, Arial, sans-serif;
  color:#fff;
}
ol, ul {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}
a, abbr{
  text-decoration:none; color:inherit;
}

// 폼 컨트롤
input{
  margin:0 3px; vertical-align:middle;
  &[type="checkbox"],
  &[type="radio"]{
    margin-top:-2px;
    &:disabled + label{color:#999;}
  }
  &:disabled{color:#ccc; background:#f4f4f4;}
}
input[type="number"],
input[type="text"],
input[type="password"],
input[type="search"]{
  border:1px solid #ddd; box-sizing:border-box; border-radius:4px;
  padding:5px 7px;
  appearance:none; -moz-appearance:none; font-size:inherit;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{margin:0; appearance:none; -moz-appearance:none;}

table {
	border-collapse:collapse;
	border-spacing:0;
}
button{
  background:transparent; border:0 none; padding:0;
  cursor:pointer; outline:none; font-size:inherit; color:inherit;
}


